Checks: "*, -abseil-*, -altera-*, -android-*, -cert-err58-cpp, -cppcoreguidelines-avoid-magic-numbers, -cppcoreguidelines-avoid-non-const-global-variables, -cppcoreguidelines-non-private-member-variables-in-classes, -cppcoreguidelines-owning-memory, -cppcoreguidelines-pro-type-reinterpret-cast -fuchsia-*, -fuchsia-default-arguments-calls, -fuchsia-overloaded-operator, -google-*, -llvm*, -misc-non-private-member-variables-in-classes, -modernize-use-trailing-return-type, -readability-avoid-const-params-in-decls, -readability-else-after-return, -readability-identifier-length, -readability-magic-numbers, -readability-static-accessed-through-instance, -zircon-*"
WarningsAsErrors: ""
HeaderFilterRegex: ""
FormatStyle: none
